body {
    margin: 0;
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/*header*/

header {
    width: 100%;
    background: #222;
    z-index: 10;
    top: 0px;
    position: fixed;
    box-shadow: 0 4px 4px -3px gray;
    border: -1;
}

#login {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.header_content {
    margin: 0;
}

.header_content ul {
    list-style-type: none;
}

.header_content ul li {
    display: inline;
    padding-right: 25px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    position: relative
}

.header_content ul a {
    text-decoration: none;
    color: #888;
}

#home a:hover {
    color: white;
}


/*.button {
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 4px 4px 3px -3px gray;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}*/


/*background */

#background {
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
    top: 0px;
    display: block;
    position: absolute;
    height: calc(100vh - 60px);
    background-image: url(bg_img.jpg);
}

.main_content {
    height: 100%;
    width: auto;
}


/* login menu */

#credentials {
    z-index: 15;
    position: relative;
    display: inline-block;
    background-color: #222;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    top: 58px;
    top: -358;
    right: -310px;
    position: absolute;
    box-shadow: 0 2px 2px 1px gray;
    opacity: 0.5;
}

#credentials > div {
    position: absolute;
    height: 100%;
    width: 100%;
}

#credentials .button {
    
}

/*login */

.login_menu {
    visibility: visible;
    top:auto;
}
.login_menu form{
    top: 20%;
    overflow: hidden;
    position: relative;
}
#login_search{
    width: 76%;
    overflow: hidden;
    display: block;
    margin-left:14%;
    margin-bottom: 7%;
    margin-top: 8%;
    box-sizing: border-box;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    
}
#login_pass{
    margin-left:14%;
    overflow: hidden;
    width: 76%  ;
    display: block;
    padding: 7px;
    font-size:15px;
    font-weight: bold;
    
    
}
#login_submit{
    margin-left:29%;
    margin-top: 7%;
    width: 45%;
    height: 11%;
    font-weight: bold;
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
        
    
}











/*end of login*/
#login_search{
    
}

#signup_menu {
    visibility: hidden;
}


/*#frm {
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 500px;
}*/


/*search bar form*/

.main_content form {
    top: 245px;
    left: auto;
    right: auto;
    position: relative;
}


/* --search bar-- */

input.sbar {
    margin-right: 0;
    box-sizing: content-box;
    padding: 10 0 10 8;
    width: 38%;
    font-size: 16px;
    border: -1px solid #eee;
    outline: none;
    font-size: 20px;
    position: relative;
}


/*-- button--*/

input.b {
    background-color: #0c8484;
    background-image: url(../images/search_icon_1.png);
    background-repeat: no-repeat;
    border-radius: 0;
    height: 47px;
    width: 50px;
    background-size: 100%;
    box-shadow: 4px 4px 3px -3px gray;
    border: 8px solid #0c8484;
    margin: -1;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    -webkit-transition-duration: 0.2;
    transition-duration: 0.3s;
    cursor: pointer;
    position: absolute;
}

input.b:hover {
    background-color: #00b8e6;
    color: white;
    box-shadow: 0 0 5px gray;
    border: 6px solid #00b8e6;
}


/*----footer----*/

footer {
    width: 100%;
    padding: 1px 0px;
    position: absolute;
    background-color: white;
    bottom: 0px;
    z-index: 150;
}

footer ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 17px;
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
}

footer ul {
    list-style-type: none;
    position: relative;
}

footer ul li {
    display: inline-block;
    margin-right: 17px;
    padding: 5px;
    font-weight: 200;
    float: right;
}

footer ul li:hover {
    bottom: 10px;
    -webkit-transition-duration: 0.2;
    transition-duration: 0.3s;
}
