body{ 
   margin:0;
   
    
}
#nav{
    width: auto;
    
}
#ulist{
    list-style-type: none;
    background-color:007a99;
    height: auto;
    margin: 0;
    padding: 0;
}
a.n{
    color: aliceblue;
    padding: 17px;
    display:inline-table;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
    
}
form {
                width:100%;
                margin:50px auto;
                position: absolute;
                left: 300px;
                top:180px;
                
                    
}
a.n:hover{
    color: brown;
    background-color: beige;
}
input.sbar{
    margin-right: 0;
    box-sizing: border-box;
    padding: 10px;
    width :650px;
    font-size: 16px;
    border: 2px solid #eee;
    float: left;
}
input.b{
    background-color: gray; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin:0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
input.b:hover{
    background-color: white;
    color: black;
}


    
    



   







